html ,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  
    font-family: Arial, sans-serif;
    background-image: url("Images/coolbackgrounds-fractalize-ranger_made (1).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    
    color: #e6e6e6;
   
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #065380;
    position: sticky;
    top: 0;
    
}

nav a {
    color: #ccc;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #12bbad;
}

/* HEADER */
header {
    text-align: center;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* CARDS */
.card {
    width: 95%;
    margin: 15px auto;
    padding: 15px;

    
    max-width: 800px;

 
    border: 1px solid #065380;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* TITLES */
h1, h2, h3 {
    color: #12bbad;
}

/* LISTS */
ul {
    padding-left: 20px;
}

li {
    margin: 6px 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
    border-top: 1px solid #065380;
    background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px)
{
    nav a
    {
        display: block;
        margin: 10px 0;
    }

    header
    {
        padding: 30px 10px;
    }
    p
    {
        font-size: 14px;
    }
    .card
    {
        margin: 15px;
        padding: 15px;
    }

    h1
    {
        font-size: 28px;
    }

    h2
    {
        font-size: 22px;
    }
}